*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPOSTAZIONE MENU */
#main-header{
    position: fixed;
    top: 5%;
    right: 5%;
    width: 300px;
    height: 70px;
    background-color: aqua;
    line-height: 70px;
    text-align: center;
}

#main-header nav{
    display: inline-block;
    
}

#main-header li{
    display: inline-block;
}

li{
    background-color: blueviolet;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    line-height: 55px; 
    margin-left: 30px;
}   

/* IMPOSTAZIONE BLOCCO SCARPE */
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#scarpa1{
    background-color: red;  
}
  
#scarpa2{
    background-color: green;
}
  
#scarpa3{
    background-color: yellow;
}

.text-scarpa-verde{
    color: #008000;
}

.section > .prodotto{  
    position: absolute;  
    text-align: center;  
    text-transform:uppercase;  
    font-size: 70px;
    color: yellow;
    font-weight: 800;
    text-align: center;    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


